.container {
  width: 100%;
  margin-block: var(--spacing-l) 0;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;

  > span {
    position: unset !important;
  }
}

.img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
