.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg-color-primary);
}

.main {
  width: 100%;

  a {
    color: var(--text-color-primary);
  }
}

.hero_container {
  display: flex;
  justify-content: center;
}

.hero {
  width: 100%;
  max-width: 900px;
  margin: 0;
  margin-top: var(--spacing-xxxl);
  padding: 0 var(--spacing-m);
}

.hero_title {
  margin-block: var(--spacing-l);
}

.hero_header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.125rem;
  padding: var(--spacing-m) 0;
  border-bottom: 2px solid var(--border-color);

  & span {
    text-transform: uppercase;
    color: var(--text-color-secondary);
  }
}

.hero_info {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-m) 0;
  margin: var(--spacing-l) 0;
  border-block: 2px solid var(--border-color);
}

.content_container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.content {
  width: 100%;
  max-width: 900px;
  font-size: 1.15rem;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  justify-content: center;
}

.content_article {
  width: 100%;
  max-width: 650px;

  & h3,
  h4,
  h5 {
    margin-top: 1rem;
  }
}

.content_article_deck {
  font-size: clamp(1.333rem, 1.3vw + 1rem, 1.777rem);
  font-weight: 500;
  line-height: calc(clamp(1.333rem, 1.3vw + 1rem, 1.777rem) * 1.3);
  letter-spacing: 0.03rem;
  margin-top: 0;
  margin-bottom: var(--spacing-xxl);
}

.footer_content_container {
  display: grid;
  place-items: center;
}

.footer_sharing {
  width: 100%;
  max-width: 900px;
  margin: 0;
  margin-block: var(--spacing-xxxl);
  padding: var(--spacing-m);
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: var(--spacing-xxl);
  align-items: center;
  font-size: 1.125rem;

  & hr {
    height: 2px;
    width: 100%;
    border: none;
    background: var(--border-color);
  }
}

@media screen and (max-width: 425px) {
  .hero_info {
    grid-auto-flow: row;
    gap: var(--spacing-xs);
  }

  .footer_sharing {
    grid-template-columns: 1fr;
    text-align: center;

    & hr {
      display: none;
    }
  }
}
