.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg-color-primary);
}

.main {
  width: 100%;
}

.projects_container {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  min-height: calc(100vh - 200px);
}

.projects {
  width: 900px;
  max-width: 900px;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--spacing-xxl);
}

.projects_header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.projects_header_title {
  margin: 0;
}

.projects_header_desc {
  max-width: 350px;
  margin: 0;
  font-size: 1.125rem;
  line-height: calc(1.125rem * 1.5);
  color: var(--text-color-secondary);
}

.projects_posts {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: var(--spacing-xxxxl);
}

.projects_empty {
  display: grid;
  place-items: center;
}

.projects_posts_main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--spacing-xxl);
}

.projects_posts_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-xxl);

  & a {
    font-size: 1.333rem;
    line-height: calc(1.333rem * 1.5);
  }

  & p {
    -webkit-line-clamp: 2;
  }
}

@media screen and (max-width: 900px) {
  .projects {
    width: 100%;
  }
}
