.card {
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--spacing-s);
}

.card div:first-child {
  margin-block: 0;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-color-secondary);
}

.tag,
.date {
  text-transform: uppercase;

  & .repository {
    color: var(--text-color-secondary);
  }
}

.title {
  margin: 0;
  color: var(--text-color-primary);
  font-size: 1.333rem;
  line-height: initial !important;
  font-weight: 400;
  cursor: pointer;
  width: fit-content;
}

.desc {
  margin: 0;
  font-size: 1.15rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text-color-secondary);
}

[data-theme='dark'] .title {
  color: var(--text-color-primary);
}
