.footer {
  width: 100%;
  display: grid;
  place-items: center;
}

.container {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xl) var(--spacing-m);
  border-top: 1px solid var(--border-color);
}

.social {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: var(--spacing-l);
}

.logo {
  &::before {
    content: none;
  }

  & .square {
    width: 25px;
    height: 25px;
    background-color: var(--accent-color-1);
  }
}

.social_link {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  gap: var(--spacing-l);
  font-size: 1.125rem;

  & a {
    color: var(--text-color-secondary);
    transition: color 100ms ease-out;
  }

  & a:hover {
    color: var(--text-color-primary);
  }

  & a::before {
    background: var(--text-color-primary);
  }
}

.back_to_top {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-s);
  align-items: center;
  font-size: 1rem;
  padding: var(--spacing-xs) var(--spacing-s);
  border: 1px solid var(--border-color);
  color: var(--text-color-primary);

  & svg {
    transform: rotate(180deg);
  }

  &::before {
    background: var(--border-color);
    height: calc(100% + 1px);
    bottom: -1px;
  }
}
