.navbar {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: column;
  width: 100%;
  max-width: 900px;
  padding: var(--spacing-xl) var(--spacing-m);
  background-color: var(--bg-color-primary);
  position: sticky;
}

.navbar_menu {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacing-xl);
  align-items: center;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &::before {
    content: none;
  }
}

.logo {
  fill: var(--text-color-primary);
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.menu_item {
  list-style: none;
  font-weight: 400;
  font-size: 1.15rem;
  margin: 0;

  & a {
    color: var(--text-color-secondary);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
