.navbar {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: column;
  width: 100%;
  max-width: 900px;
  padding: var(--spacing-xl) var(--spacing-m);
  background-color: var(--bg-color-primary);
  position: sticky;
}

.navbar_menu {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacing-xl);
  align-items: center;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: none;
  }
}

.logo {
  fill: var(--text-color-primary);
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.menu_item {
  list-style: none;
  font-weight: 500;
  font-size: 1.15rem;

  & a {
    color: var(--text-color-secondary);
    transition: color 100ms ease-out;
  }

  & a:hover {
    color: var(--text-color-primary);
  }

  & a::before {
    background: var(--text-color-primary);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 470px) {
  .navbar {
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    grid-auto-flow: row;
    justify-content: initial;
    gap: var(--spacing-s);
  }

  .navbar_menu {
    width: 100%;
    grid-template-columns: min-content min-content;
    justify-content: space-between;

    .menu {
      display: none;
    }
  }

  .navbar_theme {
    place-items: initial;
  }

  .menu {
    place-items: initial;
  }
}
