.navbar {
  width: 100%;
  padding-top: var(--spacing-xl);
  background-color: var(--bg-color-primary);
  position: sticky;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_title {
  font-size: 1.25rem;
}

.navbar_menu__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;

  &::before {
    content: none;
  }
}

.logo {
  fill: var(--text-color-primary);
}

.navbar_menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.navbar_menu__item {
  list-style: none;
  font-weight: 400;
  margin: 0;
  font-size: 1.15rem;

  & a {
    color: var(--text-color-primary);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
