@import '/styles/variables';

.container {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: self-start;
  gap: $spacing-m;
  padding: $spacing-s;
  background-color: $bg-color-secondary;

  & p {
    margin: 0;
  }
}

.icon {
  padding: 3px;
  display: flex;
  align-items: center;
}

.icon_info {
  min-width: 20px;
}
