.main {
  width: 100%;
}

.blog_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog {
  width: 100%;
  max-width: 900px;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--spacing-xxl);
}

.blog_header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-m);
}

.blog_header_title {
  margin: 0;
}

.blog_header_desc {
  max-width: 350px;
  margin: 0;
  font-size: 1.125rem;
  line-height: calc(1.125rem * 1.5);
  color: var(--text-color-secondary);
}

.blog_posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: var(--spacing-l);
}

@media screen and (max-width: 480px) {
  .blog_header {
    grid-auto-flow: row;
  }

  .blog_header_desc {
    max-width: 100%;
  }
}
