.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: var(--bg-color-primary);
}

.main {
  width: 100%;
}

.hero_container {
  height: 100%;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-rows: 1fr min-content;
}

.hero_grid_one {
  display: grid;
  grid-template-columns: 1fr 900px 1fr;

  & > div:nth-child(1) {
    background-color: var(--hero-grid-1);
  }

  & > div:nth-child(3) {
    background-color: var(--hero-grid-5);
  }
}

.hero_content {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: var(--spacing-m);
  background-color: var(--bg-color-secondary);

  & p:last-child {
    margin-bottom: 0;
  }
}

.hero_desc {
  font-size: 1.2rem;
  line-height: calc(1.2rem * 1.5);
}

.hero_desc_title {
  font-weight: 400;
  color: var(--text-color-secondary);
  margin: 0;
  letter-spacing: -0.05rem;

  & .hero_desc_title_name {
    color: var(--hero-text-accent);
  }
}

.hero_grid_two {
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 900px 1fr;

  & > div:nth-child(1) {
    background-color: var(--hero-grid-2);
  }

  & > div:nth-child(3) {
    background-color: var(--hero-grid-6);
  }
}

.hero_cta {
  display: grid;
  place-content: stretch;
  color: var(--white);
  padding: var(--spacing-m);
  background-color: var(--accent-color-1);
}

.hero_cta_link {
  display: flex;
  color: var(--white);
  justify-content: space-between;
  font-size: 32px;
  align-items: center;

  & span:nth-child(2) {
    transform: translateY(0);
    transition: transform 200ms ease-in;
  }

  &:hover {
    & span:nth-child(2) {
      transform: translateY(10px);
      transition: transform 100ms ease-out;
    }
  }

  &::before {
    content: none;
  }
}

.hero_cta_link_text {
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.02rem;
}

.projects_container {
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

.projects {
  width: 100%;
  max-width: 900px;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: var(--spacing-l);
}

.projects_header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  gap: var(--spacing-l);
  align-items: center;
  padding: var(--spacing-l) 0;
}

.projects_header_title {
  margin: 0;
}

.projects_header_desc {
  margin: 0;
  width: 75%;
  font-size: 1.15rem;
  color: var(--text-color-secondary);
}

.projects_header_link {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-m);
  align-items: center;
  font-size: 1.15rem;
  padding: 16px;
  border: 1px solid var(--border-color);
  color: var(--text-color-primary);

  & svg {
    transform: rotate(270deg);
  }

  &::before {
    background: var(--border-color);
    height: calc(100% + 1px);
    bottom: -1px;
  }
}

.projects_content {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: var(--spacing-xxxl);
  height: fit-content;
}

.projects_aside_content {
  display: grid;
  gap: var(--spacing-l);
  height: fit-content;

  & a {
    font-size: 1.333rem;
    line-height: calc(1.333rem * 1.4);
  }

  & > div {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
  }

  & > div:last-child {
    padding: 0;
    border-bottom: 0;
  }
}

.blog_container {
  display: grid;
  justify-content: center;
  min-height: 100vh;
}

.blog {
  width: 100%;
  max-width: 900px;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: var(--spacing-l);
}

.blog_content {
  display: grid;
  grid-template-columns: 150px 250px 1fr;
  gap: var(--spacing-xxxl);
  height: fit-content;

  & a {
    font-size: 1.333rem;
    line-height: calc(1.333rem * 1.4);
  }
}
