.main {
  width: 100%;
}

.hero_container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;
  place-items: center;
}

.hero {
  display: grid;
  width: 100%;
  max-width: 900px;
  height: 100%;
}

.hero_content {
  height: 100%;
  display: flex;
  padding: var(--spacing-m);

  & p:last-child {
    margin-bottom: 0;
  }
}

.hero_desc_title {
  font-weight: 400;
  color: var(--text-color-secondary);
  margin: 0;
  letter-spacing: -0.05rem;
  line-height: calc(clamp(2.369rem, 2.3vw + 1.7rem, 3.157rem) * 1.2);
  margin-bottom: var(--spacing-ml);

  & .hero_desc_title_name {
    color: var(--hero-text-accent);
  }
}

.hero_info {
  display: grid;
  width: 100%;
  max-width: 900px;
  min-height: 100px;
}

.hero_social {
  padding: var(--spacing-m);
}

.hero_social_link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-s);
  border-top: 1.5px solid var(--border-color);

  & a {
    color: var(--text-color-secondary);
  }
}

.projects_container {
  display: grid;
  justify-content: center;
}

.projects {
  width: 100%;
  max-width: 900px;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: var(--spacing-l);
}

.projects_header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  gap: var(--spacing-l);
  align-items: center;
  padding: var(--spacing-l) 0;
}

.projects_header_title {
  margin: 0;
}

.projects_header_desc {
  margin: 0;
  width: 75%;
  font-size: 1rem;
  color: var(--text-color-secondary);
}

.projects_header_link {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: var(--spacing-m);
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 16px;
  border: 1px solid var(--border-color);
  color: var(--text-color-primary);

  & svg {
    transform: rotate(270deg);
  }

  &::before {
    background: var(--border-color);
    height: calc(100% + 1px);
    bottom: -1px;
  }
}

.projects_content {
  display: grid;
  grid-template-columns: 500px 1fr;
  gap: var(--spacing-xxxl);
  height: fit-content;
}

.projects_aside_content {
  display: grid;
  gap: var(--spacing-l);
  height: fit-content;

  & a {
    font-size: 1.333rem;
    line-height: calc(1.333rem * 1.4);
  }

  & > div {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
  }

  & > div:last-child {
    padding: 0;
    border-bottom: 0;
  }
}

.blog_container {
  display: grid;
  justify-content: center;
  margin-bottom: var(--spacing-xxxl);
}

.blog {
  width: 100%;
  max-width: 900px;
  margin: var(--spacing-xxxl) 0;
  padding: 0 var(--spacing-m);
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: var(--spacing-l);
}

.blog_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: var(--spacing-xl);
  height: fit-content;

  & a {
    font-size: 1.333rem;
    line-height: calc(1.333rem * 1.4);
  }
}

@media screen and (max-width: 900px) {
  .projects_content {
    grid-template-columns: minmax(250px, 1fr) 1fr;
  }
}

@media screen and (max-width: 768px) {
  .projects_header {
    .projects_header_link {
      display: none;
    }

    .projects_header_desc {
      width: 100%;
    }
  }

  .projects_content {
    grid-template-columns: 1fr;
  }

  .blog_content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 470px) {
  .projects_header {
    grid-template-columns: 1fr;

    .projects_header_desc {
      width: 100%;
    }
  }

  .hero_desc_title {
    & br:nth-child(3),
    br:nth-child(4) {
      display: none;
    }
  }
  .blog_content {
    grid-template-columns: 1fr;
  }
}

[data-theme='dark'] {
  .hero_cta_link {
    color: var(--text-color-secondary);
  }

  .projects_header_link {
    color: var(--text-color-primary);
  }
}
