.navbar {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: column;
  width: 100%;
  max-width: 900px;
  padding: var(--spacing-xl) var(--spacing-m);
  background-color: var(--bg-color-primary);
  position: sticky;
}

.navbar_menu {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacing-xl);
  align-items: center;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: none;
  }
}

.logo {
  fill: var(--text-color-primary);
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

.menu_item {
  list-style: none;
  font-weight: 500;
  font-size: 1.15rem;

  & a {
    color: var(--text-color-secondary);
    transition: color 100ms ease-out;
  }

  & a:hover {
    color: var(--text-color-primary);
  }

  & a::before {
    background: var(--text-color-primary);
  }
}

.navbar_menu_button {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  align-items: center;
  gap: 1.5rem;
}

.menu_btn {
  &[data-reach-menu-button] {
    border: 0;
    display: grid;
    place-items: center;
    padding: var(--spacing-xs);
    background-color: var(--bg-color-primary);
    border: 1px solid;
    border-color: var(--bg-color-primary);
    cursor: pointer;
    transition: all 150ms ease;

    &:hover {
      transition: background-color 150ms ease;
      background-color: var(--bg-color-hover);
    }

    &[aria-expanded='true'] {
      border: 1px solid var(--border-color);
      background-color: var(--bg-color-hover);
    }
  }
}

.menu_popover {
  &[data-reach-menu-popover] {
    margin-block: var(--spacing-m);
  }
}

.menu_items {
  &:is([data-reach-menu-list], [data-reach-menu-items]) {
    border-color: var(--border-color);
    padding: var(--spacing-s);
    background-color: var(--bg-color-primary);
  }

  & [data-reach-menu-item][data-selected] {
    background: var(--accent-color-1);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu_items {
    &:is([data-reach-menu-list], [data-reach-menu-items]) {
      animation: slide-down 0.2s ease;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 470px) {
  .navbar {
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    grid-auto-flow: row;
    justify-content: initial;
    gap: var(--spacing-s);
  }

  .navbar_menu {
    width: 100%;
    grid-template-columns: min-content min-content;
    justify-content: space-between;

    .menu {
      display: none;
    }
  }

  .navbar_theme {
    place-items: initial;
  }

  .menu {
    place-items: initial;
  }
}
