@import '/styles/variables.scss';

.navbar {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-auto-flow: column;
  width: 100%;
  max-width: 900px;
  padding: $spacing-xl $spacing-m;
  background-color: $bg-color-primary;
  position: sticky;
}

.navbar_menu {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: $spacing-m;
}

.logo {
  &::before {
    content: none;
  }
}

.square {
  width: 25px;
  height: 25px;
  background-color: $accent-color-1;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.menu_item {
  list-style: none;
  margin: 0 $spacing-m;
  font-weight: 500;
  font-size: 1.15rem;

  & a {
    color: #818890;
    transition: color 100ms ease-out;
  }

  & a:hover {
    color: $text-color-primary;
  }

  & a::before {
    background: $text-color-primary;
  }
}

.navbar_theme {
  display: grid;
  place-items: center;
}

.menu_btn {
  &[data-reach-menu-button] {
    border: 0;
    display: grid;
    place-items: center;
    padding: $spacing-xs;
    background-color: $bg-color-primary;
    border: 1px solid $white;
    cursor: pointer;
    transition: all 150ms ease;

    &:hover {
      transition: background-color 150ms ease;
      background-color: $bg-color-hover;
    }

    &[aria-expanded='true'] {
      border: 1px solid $border-color;
      background-color: $bg-color-hover;
    }
  }
}

.menu_popover {
  &[data-reach-menu-popover] {
    margin-block: $spacing-m;
  }
}

.menu_items {
  &:is([data-reach-menu-list], [data-reach-menu-items]) {
    border-color: $border-color;
    padding: $spacing-s;
  }

  & [data-reach-menu-item][data-selected] {
    background: $accent-color-1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .menu_items {
    &:is([data-reach-menu-list], [data-reach-menu-items]) {
      animation: slide-down 0.2s ease;
    }
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 470px) {
  .navbar {
    padding: 1rem;
  }
}
