@import '/styles/variables.scss';

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 900px;
  padding: $spacing-xl $spacing-m;
  background-color: $bg-color-primary;
  position: sticky;
}

.navbar_menu {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: $spacing-m;
}

.logo {
  &::before {
    content: none;
  }
}

.square {
  width: 25px;
  height: 25px;
  background-color: $accent-color-1;
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.menu_item {
  list-style: none;
  margin: 0 $spacing-m;
  font-weight: 500;
  font-size: 1.25rem;

  & a {
    color: #818890;
    transition: color 100ms ease-out;
  }

  & a:hover {
    color: $text-color-primary;
  }

  & a::before {
    background: $neutral-dark-color;
  }
}

.menu_item_btn {
  border: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  padding: $spacing-s;
  background-color: $bg-color-primary;

  &:hover {
    background-color: $bg-color-secondary;
  }

  &[aria-expanded='true'] > div {
    transform: rotate(180deg);
  }
}

.menu_item_text {
  margin-right: 8px;
}

.dropdown {
  display: none;
  position: absolute;
  top: 65px;
  right: 0px;
  padding: $spacing-m;
  background-color: $bg-color-primary;
  border-radius: 3px;
  box-shadow: 0px 5px 10px 0px hsl(212deg, 77%, 17%, 0.16);
}

.dropdown_menu {
  min-width: 100%;
  width: max-content;
  padding: 0.5em;
  margin: 0;
  margin-top: 1.5em;
  list-style: none;
  background-color: $bg-color-primary;
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: $box-shadow;
}

.dropdown_menu[aria-hidden='false'] {
  visibility: visible;
}

.dropdown_item {
  list-style: none;
  padding: $spacing-s;
  background-color: $bg-color-primary;
  cursor: pointer;
  border-radius: 5px;

  & a {
    display: flex;
    align-items: center;
    gap: $spacing-s;
  }

  &:hover {
    color: $accent-color-1;
    background-color: $bg-color-secondary;
  }
}

@media screen and (max-width: 470px) {
  .navbar {
    padding: 1rem;
  }
}
