:root {
  --white: hsla(0, 0%, 100%, 1);
  --color-gray-100: hsla(240, 9%, 98%, 1);
  --color-gray-200: hsla(240, 9%, 88%, 1);
  --color-gray-300: hsla(240, 9%, 78%, 1);
  --color-gray-400: hsla(240, 9%, 68%, 1);
  --color-gray-500: hsla(240, 9%, 58%, 1);
  --color-gray-600: hsla(240, 9%, 48%, 1);
  --color-gray-700: hsla(240, 9%, 38%, 1);
  --color-gray-800: hsla(240, 9%, 28%, 1);
  --color-gray-900: hsla(240, 9%, 18%, 1);
  --black: hsla(240, 9%, 11%, 1);

  --accent-color-1: hsla(225, 73%, 57%, 1);
  --accent-color-2: hsla(225, 72%, 37%, 1);
  --accent-color-3: hsla(52, 100%, 63%, 1);

  --typefaces: 'IBM Plex Sans', 'Roboto', sans-serif;
  --typefaces-mono: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace, serif;

  --text-color-primary: hsla(225, 15%, 17%, 1);
  --text-color-secondary: hsla(225, 15%, 47%, 1);
  --text-color-ternary: rgb(218, 218, 218);

  --font-size: 16px;
  --line-height: calc(var(--font-size) * 1.5);

  --bg-color-primary: hsla(0, 0%, 100%, 1);
  --bg-color-secondary: hsla(240, 8%, 98%, 1);
  --bg-color-hover: hsla(240, 8%, 95%, 1);

  --border-color: hsla(240, 8%, 88%, 1);
  --box-shadow: 0px 5px 10px 0px hsla(225, 15%, 17%, 0.1);
  --outline-color: var(--accent-color-1);
  --fill-color-accent: var(--accent-color-1);
  --fill-color-default: hsla(225, 15%, 47%, 1);

  --hero-text-accent: var(--accent-color-1);

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 12px;
  --spacing-m: 16px;
  --spacing-ml: 20px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 40px;
  --spacing-xxxl: 48px;
  --spacing-xxxxl: 56px;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--accent-color-1);
  text-decoration: none;
}

ul,
ol {
  padding-left: 18px;
}

li {
  line-height: calc(1.125rem * 1.5);
  margin-bottom: calc(1rem * 0.5);
}

code {
  font-family: var(--typefaces-mono);
  background: var(--bg-color-secondary);
  padding: 2px;
  font-size: 1rem;
}

[hidden] {
  display: none;
}

blockquote {
  margin: 0;
  padding: var(--spacing-m) var(--spacing-xxl);
  border-left: 4px solid var(--fill-color-accent);

  & :is(p, h1, h2, h3, h4, h5) {
    margin: 0;
  }
}

.icon {
  min-width: 20px;
  fill: var(--fill-color-accent);
}

.icon_default {
  min-width: 20px;
  color: var(--fill-color-default);
}

[data-reach-dialog-overlay] {
  display: grid;
  place-items: center;
}

[data-reach-dialog-content] {
  margin: 0 !important;
  width: 100% !important;
  max-width: 500px;
  background: var(--bg-color-primary) !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* 
  Dark Mode
  See: https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/
  Also see: https://fatihkalifa.com/dark-mode-web
*/

[data-theme='dark'] {
  --text-color-primary: var(--color-gray-200);
  --text-color-secondary: var(--color-gray-400);
  --text-color-ternary: var(--color-gray-800);

  --bg-color-primary: var(--black);
  --bg-color-secondary: var(--color-gray-900);
  --bg-color-hover: var(--color-gray-800);

  --border-color: var(--color-gray-800);
  --box-shadow: 0px 5px 10px 0px hsla(225, 15%, 17%, 0.1);
  --outline-color: var(--accent-color-1);
  --fill-color-accent: var(--accent-color-3);
  --fill-color-default: var(--color-gray-100);

  --hero-text-accent: var(--white);

  img {
    filter: brightness(0.8) contrast(1.2);
  }

  a {
    color: var(--accent-color-3);
  }
}

/* 
  Dark Mode User's preferences
  How to simulate it: https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/accessibility/preferred-color-scheme-simulation
*/

@media (prefers-color-scheme: dark) {
  body {
    --text-color-primary: var(--color-gray-200);
    --text-color-secondary: var(--color-gray-400);
    --text-color-ternary: var(--color-gray-800);

    --bg-color-primary: var(--black);
    --bg-color-secondary: var(--color-gray-900);
    --bg-color-hover: var(--color-gray-800);

    --border-color: var(--color-gray-800);
    --box-shadow: 0px 5px 10px 0px hsla(225, 15%, 17%, 0.1);
    --outline-color: var(--accent-color-1);
    --fill-color-accent: var(--accent-color-3);
    --fill-color-default: var(--color-gray-100);

    --hero-text-accent: var(--white);
  }

  :root:not([data-theme]) img {
    filter: brightness(0.8) contrast(1.2);
  }

  a {
    color: var(--accent-color-3);
  }

  [data-theme='light'] {
    body {
      --white: hsla(0, 0%, 100%, 1);
      --color-gray-100: hsla(240, 9%, 98%, 1);
      --color-gray-200: hsla(240, 9%, 88%, 1);
      --color-gray-300: hsla(240, 9%, 78%, 1);
      --color-gray-400: hsla(240, 9%, 68%, 1);
      --color-gray-500: hsla(240, 9%, 58%, 1);
      --color-gray-600: hsla(240, 9%, 48%, 1);
      --color-gray-700: hsla(240, 9%, 38%, 1);
      --color-gray-800: hsla(240, 9%, 28%, 1);
      --color-gray-900: hsla(240, 9%, 18%, 1);
      --black: hsla(240, 9%, 11%, 1);

      --accent-color-1: hsla(225, 73%, 57%, 1);
      --accent-color-2: hsla(225, 72%, 37%, 1);
      --accent-color-3: hsla(52, 100%, 63%, 1);

      --typefaces: 'IBM Plex Sans', 'Roboto', sans-serif;
      --typefaces-mono: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace,
        serif;

      --text-color-primary: hsla(225, 15%, 17%, 1);
      --text-color-secondary: hsla(225, 15%, 47%, 1);
      --text-color-ternary: rgb(218, 218, 218);

      --font-size: 16px;
      --line-height: calc(var(--font-size) * 1.5);

      --bg-color-primary: hsla(0, 0%, 100%, 1);
      --bg-color-secondary: hsla(240, 8%, 98%, 1);
      --bg-color-hover: hsla(240, 8%, 95%, 1);

      --border-color: hsla(240, 8%, 88%, 1);
      --box-shadow: 0px 5px 10px 0px hsla(225, 15%, 17%, 0.1);
      --outline-color: var(--accent-color-1);
      --fill-color-accent: var(--accent-color-1);
      --fill-color-default: hsla(225, 15%, 17%, 1);

      --hero-text-accent: var(--accent-color-1);
    }
  }
}

/*
  Outline focus by Adam Argyle (@argyleink)
*/

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 3px;
    outline-color: var(--accent-color-1);
  }

  :focus:not(:active) {
    outline-offset: 3px;
  }

  html {
    scroll-behavior: smooth;
  }
}

/* 
  Font scale configuration
  See: https://type-scale.com/
*/

html {
  font-size: 100%; /*16px*/
  padding: 0;
  margin: 0;
  font-family: var(--typefaces);
}

body {
  padding: 0;
  margin: 0;
  background: var(--bg-color-primary);
  font-family: var(--typefaces);
  font-weight: 400;
  line-height: var(--line-height);
  color: var(--text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 1rem;
  line-height: calc(1.125rem * 1.5);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--typefaces);
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2.488rem;
  line-height: 1.3;
}

h2 {
  font-size: 2.074rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.728rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
  margin-top: 1rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

/* 
  Mouse-Out
  Justine Wong
  See: https://codepen.io/Wongjn/pen/VwMBgZB
*/
@media (prefers-reduced-motion: no-preference) {
  a {
    --bg-h: 2px;
    --bg-color: linear-gradient(0deg, var(--accent-color-1), var(--accent-color-1)) no-repeat right
      bottom / 0 var(--bg-h);
    background: var(--bg-color);
    transition: background-size 350ms;
  }

  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }

  a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
  }
}

[data-theme='dark'] a {
  --bg-color: linear-gradient(0deg, var(--accent-color-3), var(--accent-color-3)) no-repeat right
    bottom / 0 var(--bg-h);
}

@media (prefers-color-scheme: dark) {
  a {
    --bg-color: linear-gradient(0deg, var(--accent-color-3), var(--accent-color-3)) no-repeat right
      bottom / 0 var(--bg-h);
  }
}
